

pandas==2.2.2
matplotlib==3.9.1
scikit-learn==1.5.1
scikit-multilearn==0.2.0
nltk==3.8.1

fastapi==0.111.0
uvicorn==0.30.1
jupyter_client==8.6.2
jupyter_core==5.7.2
SQLAlchemy==2.0.31
joblib==1.4.2
